{{#if tasks.length}}
 <div class="p-4 mt-5 bg-dark rounded-4">
<table class="table rounded-3 text-white">
    <thead class="table-light text-center">
        <tr>
            <th scope="col">index</th>
            <th scope="col">Task Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody class="table-dark ">
        {{#each tasks}}
        <tr>
            <td>{{@index}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            {{#if this.done}}
            <td>✅</td>
            {{else}}
            <td>❌</td>
            {{/if}}

            <td>
                <button class="btn-edit rounded-3"><a class="text-decoration-none text-white " href="/task/edit/{{this._id}}">Edit</a></button>
                <button class="btn-delete  rounded-3"><a class="text-decoration-none text-white " href="/task/delete/{{this._id}}">Delete</a></button>
                      {{#if this.done}}
                    <button class="btn-undone rounded-3"><a class="text-decoration-none text-white  " href="/task/toggleDone/{{this._id}}">Undone</a></button>
                {{else}}
                    <button class="btn-done px-3 rounded-3"><a class="text-decoration-none text-white  " href="/task/toggleDone/{{this._id}}">Done</a></button>
                {{/if}}
            </td>
        </tr>
        {{/each}}
</table>
</div>
{{else}}
<div>
    <h3 class="mt-5 text-center text-white">No tasks available</h3>
    <span class="d-block text-center text-white">Please add a task to get started.</span>
</div>
{{/if}}